<!-- Have to address the class="container" error-->

<div class="container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-around"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>   

    <div fxFlex="45" *ngIf="dish">
      <mat-card fxFlex="45">
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="45" *ngIf="dish">
      <h3>Comments</h3>
      <mat-list cols="2" rowHeight="200px">
        <mat-list-item *ngFor="let comment of dish.comments">
            <p matLine>{{comment.comment}}</p>
            <p matLine>{{comment.rating}} Stars</p>
            <p matLine> -- {{comment.author}} {{comment.date | date:'mediumDate'}}</p>
        </mat-list-item>
      </mat-list>
    </div>   

    <!--<div fxFlex fxFlexOffset="20px" class="form-size">
      <h3>Send us your Feedback</h3>
      <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>

      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-input-container class="half-width"
           dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
            <input matInput formControlName="author" placeholder="First Name" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.author}}</span>
            </mat-hint>
          </mat-input-container>
          <mat-input-container class="half-width"
           dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
            <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.lastname)">
                {{formErrors.lastname}}</span>
            </mat-hint>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container class="half-width"
           dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
            <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
            <mat-hint>
              <span [hidden]="!(formErrors.telnum)">
                {{formErrors.telnum}}</span>
            </mat-hint>
          </mat-input-container>
          <mat-input-container class="half-width"
           dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
            <input matInput formControlName="email" placeholder="Email" type="email" email required>
            <mat-hint>
              <span [hidden]="!(formErrors.email)">
                {{formErrors.email}}</span>
            </mat-hint>
          </mat-input-container>
        </p>
        <table class="form-size">
          <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
          </td>
          <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
          </td>
          </table>
        <p>
          <mat-input-container class="full-width">
            <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
          </mat-input-container>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
    </div>-->   
    <div fxFlex fxFlexOffset="20px" class="form-size">
      <h3>Send us your Feedback</h3>
      <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>

      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-input-container class="half-width"
           dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
            <input matInput formControlName="author" placeholder="First Name" type="text" required>
            <mat-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.author}}</span>
            </mat-hint>
          </mat-input-container>
        <p>
          <mat-input-container class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
            <mat-hint>
              <span [hidden]="!(formErrors.comment)">
                {{formErrors.comment}}</span>
            </mat-hint>
          </mat-input-container>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
    </div>
</div>
